@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* Değişkenler */

:root{
    --colora:#F2B544;
    --colorb:#D98825;
    --colorc:#BF6211;
    --colord:#732C02;
    --colore:#401303;
}
:root{
    --mainFont:'Overlock', cursive;
}

/* Container */

.container{
    width: 100%;
    height: 100vh;
    background: var(--colora);
    position: relative;
}

/* Menu */

.menu{
    position: absolute;
    right: 0;
    margin-top: 3%;
    margin-right: 80px;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu ul li {
    font-size: 20px;
    padding-left: 80px;
}
.menu a{
    text-decoration: none;
    letter-spacing: 8px;
    color: var(--colord);
}
.menu a:hover{
    color: var(--colore);
}

/* left Bar */

.socialVlogo{
    width: 3%;
    height: 100vh;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 30px;
    background-color:var(--colora);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: absolute;
    
}
.logo{
    margin-top: 60px;
    letter-spacing: 5px;
    color: var(--colord);
    font-family: 'Allerta Stencil', sans-serif;
    font-weight: 700;
    transform: rotate(270deg);
    font-size: 25px;
}
.social{
    display: flex;
    flex-direction:column;
    padding-bottom: 50px;
    align-items: center;
}
.social i{
    color: var(--colord);
    padding-top: 10px;
    font-size: 20px;
}

.bannercont{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
}
.bannertext{
    width: auto;
    height: 60vh;
    margin-left: 10%;
    margin-top: 5%;
}
.bannertext span{
    background-color: var(--colorb);
    border-radius: 3px;
}
.bannertext button{
    width: 33%;
    letter-spacing: 6px;
    height: 40px;
    border-radius: 5px;
    border: 0;
    background: var(--colore);
    color: #fff;
    font-size: 15px;
    font-family: var(--mainFont);
    margin-top: 10%;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    transition: 2s;
}
.bannertext a{
    text-decoration: none;
}
.bannertext button i {
    width: 20%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding-right: 10px;
}
.bannertext h2{
    color: var(--colore);
    font-size: 50px;
    font-family: var(--mainFont);
    margin-bottom: 2%;
}
.bannertext p{
    color: var(--colord);
    word-spacing: 8px;
    font-family: var(--mainFont);
    font-weight: 900;
}
.bannerimg{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bannerimg img{
    width: 100%;
    height: 80%;
    border-radius: 20px;
    opacity: .9;
}


/* SECTİON TWO */

.container2{
    width: 100%;
    height: 100vh;
    background:linear-gradient(#F2B544,rgb(233, 233, 233));
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stImg{
    margin-left: 12%;
    border-radius: 10px;
}
.stText{
    margin-right: 15%;
    height: 50%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stText h5{
    color: var(--colorb);
    font-family: var(--mainFont);
    font-weight: 600;
    margin-bottom: 20%;
    position: absolute;
    padding-left: .2%;
    font-size: 20px;
}
.stText h1{
    position: absolute;
    margin-bottom: 14%;
    color: var(--colord);
    font-family: var(--mainFont);
    font-size: 50px;
}
.stText span{
    color: var(--colore);
}
.st-p{
    margin-top: 25%;
    margin-bottom: 10%;
    color: var(--colord);
    font-weight: 600;
    font-family: var(--mainFont);
    font-size: 20px;
}
.addCart{
    display: flex;
    align-items: center;
    justify-content: left;
}
.addCart button{
    margin-right: 10px;
    width:120px;
    height: 40px;
    background: var(--colore);
    color: #fff;
    font-family: var(--mainFont);
    font-size: 13px;
    border-radius: 5px;
    border: 0;

}
.addCart button:hover{
    background: var(--colord);
}
.addCart hr{
    width: 50px;
    height: 0;
    margin-right: 10px;
    background-color: var(--colorb);
    color: var(--colore);
}
.addCart p{
    color: var(--colord);
    font-family: var(--mainFont);
}




/* section 3 */

.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(rgb(233, 233, 233),#F2C975);
}
.tm1{
    width: 25%;
    height: 60%;
    background: transparent;
    box-shadow: 0 0 5px 0 #D98825;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--mainFont);
}
.tm-img{   
    margin-top: 5%;
    width: 35%;
    height: 30%;
    margin-bottom: 2%;
}
.tm2{
    box-shadow: 0 0 5px 0 rgb(197, 121, 6);
    height: 60%;
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--mainFont);
}
.yanımg{
    width: 40%;
    height: 60%;
}
.secp{
    width: 80%;
    text-align: center;
    margin-top: 4%;
    font-family: var(--mainFont);
    font-weight: 500;
    margin-bottom: 10%;
}
.secbutton{
    width: 100px;
    height: 35px;
    border-radius: 1px;
    background: var(--colora);
    border: 0;
    color: #fff;
    font-family: var(--mainFont);
    font-size: 15px;
}
.secol{
    border-bottom-left-radius: 20px ;
    box-shadow: 0px 0px 25px #fff;
}
.secbu{
    background: var(--colord);
    border-bottom-right-radius: 20px ;
    box-shadow: 0px 0px 25px #fff;
}




/* EndSide Section */

.endside{
    width: 100%;
    height: 100vh;
    background:linear-gradient(#F2C975, rgb(255, 198, 13));
    display: flex;
    align-items: center;
    justify-content: center;
}
.endimg{
    width: 55%;
    margin-left: 40%;
}
.endimg img{
    width: 80%;
    height: 75vh;
    margin-right: 4%;
    border-radius: 50px;
}
.endtext{
    margin-right: 30%;
    width: 50%;
    z-index: 5;
    position: absolute;
   
}
.endtext h1{
    color: var(--colord);
    font-family: var(--mainFont);
    font-size:50px;
    margin-bottom: 2%;
}
.endtext p{
    background-color: var(--colore);
    font-family: var(--mainFont);
    font-weight: 700;
    color: #F2C975;
    line-height: 25px;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 10%;
    border-radius: 5px;   
}

/* FOOTER SECTİON */

.footer{
    width: 100%;
    height: 3vh;
    color: #732C02;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    background:linear-gradient(rgb(255, 198, 13),#F2B544) ;
}
